TAB_ENV=production
TAB_HOSTNAME=0.0.0.0
TAB_HTTP_PORT=8000
TAB_SMTP_HOST=in-v3.mailjet.com
TAB_SMTP_PORT=465
TAB_SMTP_SECURE=true
TAB_SMTP_USERNAME=your-smtp-username
TAB_SMTP_PASSWORD=your-smtp-password
TAB_STORE_URL=https://theattentionbutton.mini.store
TAB_MQTT_PORT=1883
TAB_MQTT_TLS=false
TAB_SECRETS=your-cookie-secret
TAB_CAPTCHA_SECRET=your-hcaptcha-secret
TAB_DB_PATH=./storage/tab-backend.db
TAB_SESSION_DB_PATH=./storage/sessions.db
