#hero-image {
    height: 27rem;
    margin-top: 2rem;
}

p.login-cta {
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    padding: 1rem;
}

@media (max-aspect-ratio: 1/1) {
    #hero-image {
        width: 80%;
        height: unset;
    }

}