form.invite-member {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form.delete-room {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}

form.delete-room input[type=submit] {
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: underline;
    font-weight: bold;
    min-width: 0;
    border-radius: 0;
    background-color: transparent;
}

.member-name {
    font-weight: bold;
}

ul {
    padding-inline-start: 0;
    padding-left: 1rem;
}

li {
    margin: 0.5rem;
}

form.remove-user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

form.remove-user button {
    display: inline-flex;
    background-color: transparent;
    padding: 0.5rem;
}

details {
    width: 100%;
    margin-top: 1rem;
}

h3 {
    margin: 0.5rem;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    margin: 0;
}

.warning {
    background: #db1c1c;
    color: white;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
}

details form {
    width: calc(100% - 1rem);
}

.secret-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.secret-part {
    border: 2px solid var(--body-secondary);
    padding: 0.4rem;
    border-radius: 0.2rem;
    font-weight: bold;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

@media screen and (max-aspect-ratio: 1/1) {
    details {
        width: unset;
    }

    .secret-wrapper {
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr;
    }
}