{% block extra_head %}
<link rel="stylesheet" href="/index.css">
{% endblock %}

{% layout "base.liquid", heading:heading, title:title %}
{% block content %}
<div id="hero-image" class="img-wrapper">
    <img src="/attnbtn-red-heart-1200px.webp"
        alt="Product photo of the Attention Button. The device is a black cuboid with a square base, about two times tall as it is wide. It is displayed at a 45-degree angle showing two faces and the top of the device. The left face has a port for powering the device. The right face has an 8x8 LED matrix showing a pixel drawing of a heart. The top has a knob that doubles as a button.">
</div>

<div class="tagline">Instant connection with your special someone. Available now.</div>

<section class="ctas">
    <div class='cta-links'>
        <a class='btn invert' href='/store'><strong>Get yours today!</strong></a>
    </div>
    <p><a href="https://youtube.com/watch?v=W-nbcbQbPoQ">Watch the trailer</a></p>
    <p class="login-cta">Already got one? <a href='/dashboard'>Click here.</a></p>
</section>

<section>
    <h2>How it works</h2>
    <ol>
        <li>Rotate the knob to select an image.</li>
        <li>Press it to send.</li>
        <li>The paired device lights up and makes a sound, letting your special person know you're thinking of them.
        </li>
    </ol>
</section>

<section id="faq">
    <h2>FAQs</h2>

    <details open>
        <summary class='invert'>Does it work over long distances?</summary>
        <p>Yes! As long as both devices are connected to Wi-Fi, they can communicate no matter where you are.</p>
    </details>

    <details open>
        <summary class='invert'>Can I use it with multiple people?</summary>
        <p>Yes! The Attention Button is great for families and friend groups, too! You can have as many Attention
            Buttons linked together as you'd like.</p>
    </details>

    <details open>
        <summary class='invert'>Can I customize it?</summary>
        <p>Yes, all the design files and source code are available on GitHub. Feel free to modify and improve your
            Attention Button's firmware or run your own backend!</p>
    </details>

    <details open>
        <summary class='invert'>What power source does it use?</summary>
        <p>The device uses a Micro USB cable for power. A cable is included in the box, but you'll need to supply your
            own power source.</p>
    </details>

    <details open>
        <summary class='invert'>How do I pair my device?</summary>
        <p>Simply follow the instructions in the <a href="/instructions.pdf">instruction booklet</a>.</p>
    </details>

    <details open>
        <summary class="invert">Do you take international orders?</summary>
        <p>Yes! You can e-mail us at contact@theattentionbutton.in to place an order. <a
                href="mailto:contact@theattentionbutton.in?subject=Attention%20Button%20Order&body=Hello,%0A%0AI'd%20like%20to%20place%20an%20order%20for%20the%20Attention%20Button.%20Here%20are%20the%20details:%0A%0A1.%20**Attention%20Button**%20(Black/Red)%20Qty:%20_____%0A2.%20**Spare%20Knob**%20(Black/Red)%20Qty:%20_____%0A3.%20**Spare%20Lid**%20(Black/Red)%20Qty:%20_____%0A%0A**Delivery%20Details:**%0AName:%20_____%0AAddress:%20_____%0ACity,%20State,%20ZIP:%20_____%0ACountry:%20_____%0A%0A**Multiple%20Addresses:**%20_____%0A[If%20yes,%20please%20list%20additional%20addresses%20and%20what%20items%20you'd%20like%20delivered%20there.]">Click
                here</a>
            to get a pre-filled email for your convenience.</p>
    </details>
</section>

<section>
</section>

{% endblock %}